@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --main-color: #FFF;
    --secondary-color: #57BEE6;
    --main-black-color: #000;
    --fst-gradient-color: #D2D2D2;
    --snd-gradient-color: #51728c;
    --trd-gradient-color: #082032;
    --fth-gradient-color: #2C394B;
}

/*#40c3ff*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: var(--secondary-color);
}

.wrapper {
    position: relative;
    min-height: 100vh;
    transition: 0.7s;
    z-index: 2;
}

.wrapper.active {
    transform: translateX(-400px);
}

.nav-header.active {
    transform: translateX(-400px);
}

.sci.active {
    transform: translateX(-400px);
}

.nav-header.active #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.nav-header.active #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.804);
    transition: 0.7s;
}

.logo-img {
    cursor: pointer;
    transition: width 1.5s, height 1.5s, filter 1.5s, transform 1.5s;
}

.logo:hover>img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    transform: rotate(180deg);
}

header .logo-img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

header a {
    position: relative;
    font-weight: 300;
    color: var(--main-color);
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 2px;
}

header #toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
    height: 30px;
}

header #toggle:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: var(--main-color);
}

header #toggle:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: var(--main-color);
}

.banner .content a {
    position: relative;
    display: inline-block;
    align-self: center;
    margin-top: 20px;
    background: var(--main-color);
    border-radius: 50px;
    color: var(--main-black-color);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.banner .content a:hover {
    background: var(--secondary-color);
    transform: translateY(10%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.7s;
    z-index: 2;
}

.banner:nth-child(4n+1) {
    background: conic-gradient(from 45deg at 60% 120%,
            var(--fst-gradient-color),
            var(--snd-gradient-color),
            var(--trd-gradient-color),
            var(--fth-gradient-color));
}

.banner:nth-child(4n+2) {
    background: conic-gradient(from 45deg at 60% 20%,
            var(--fst-gradient-color),
            var(--snd-gradient-color),
            var(--trd-gradient-color),
            var(--fth-gradient-color));
}

.banner:nth-child(4n+3) {
    background: conic-gradient(from 135deg at 60% 80%,
            var(--fth-gradient-color),
            var(--trd-gradient-color),
            var(--snd-gradient-color),
            var(--fst-gradient-color));
}

.banner:nth-child(4n+4) {
    background: conic-gradient(from 135deg at 60% -20%,
            var(--fth-gradient-color),
            var(--trd-gradient-color),
            var(--snd-gradient-color),
            var(--fst-gradient-color));
}

#navigation {
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: var(--secondary-color);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.7s;
}

#navigation.active {
    right: 0;
    transition: 0.7s;
}

#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.7s;
}

#navigation.active ul li a:hover {
    color: var(--main-black-color);
}

.tab {
    color: var(--main-color);
}

.tab.activeTab {
    color: var(--main-black-color);
}

#portfolio article {
    min-height: 400px;
}

.content {
    width: 90%;
    min-height: 350px;
}

.content h2 {
    color: var(--main-color);
    font-size: 2rem;
}

.content h2 span {
    color: var(--secondary-color);
}

.content-discr {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-discr--portfolio {
    display: flex;
    gap: 10px;
    max-height: 350px;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    overscroll-behavior-y: contain;
    scrollbar-gutter: stable;
}

.content-discr--portfolio::-webkit-scrollbar {
    width: 9px;
}

.content-discr--portfolio::-webkit-scrollbar-track {
    background: transparent;
}

.content-discr--portfolio::-webkit-scrollbar-thumb {
    background: var(--fst-gradient-color);
    border-radius: 20px;
    border: 1px solid var(--fth-gradient-color);
}

.content-discr--portfolio:hover {
    overflow-y: scroll;
}

.content-discr img {
    border: 5px solid var(--fth-gradient-color);
    border-radius: 15px;
    width: 225px;
    height: 265px;
}

.content-box {
    width: 350px;
    min-height: 300px;
    padding: 1rem;
    margin: 1rem 0rem 1rem 0rem;
    background: var(--snd-gradient-color);
    border-radius: 2rem;
}

.list__skills li {
    display: inline-block;
    font-size: 2rem;
}

.content-box a {
    margin: 0 7px;
}

.content p {
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 300;
    min-height: 130px;
}

.aside {
    position: fixed;
    top: 40vh;
    z-index: 10000;
    transition: 0.7s;
}

.sci {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 2px solid var(--main-black-color);
    background: var(--main-color);
    border-radius: 50%;
    margin: 10px 0 0;
    mix-blend-mode: difference;
}

.sci li a:hover {
    background: var(--secondary-color);
    filter: none;
}


.sci li a img {
    max-width: 20px;
    filter: invert(100%);
    mix-blend-mode: difference;
}


@media (max-width: 1015px) {
    .banner h2 {
        font-size: 1.7em;
    }


    .content p {
        font-size: 1.0em;
    }

    .content-box {
        width: 310px;
        min-height: 300px;
    }



    .content-discr img {
        border: 5px solid var(--fth-gradient-color);
        border-radius: 15px;
        width: 150x;
        height: 200px;
    }

    .banner .content p,
    .banner.content a {
        font-size: 0.9em;
    }


    .banner .content a {
        padding: 5px 20px;
        font-size: 0.9em;
        font-weight: 300;
    }


}

@media (max-width: 885px) {
    header {
        padding: 20px 50px;
    }

    .banner {
        padding: 100px 50px 150px;
    }

    .banner h2 {
        font-size: 1.5em;
    }

    .content {
        width: 90%;
    }

    .banner .content p {
        font-size: 0.8em;
        order: 2;
    }

    .banner .content a {
        padding: 5px 20px;
        font-size: 0.9em;
        font-weight: 300;
    }

    .content-box {
        width: 290px;
        min-height: 300px;
    }

    .content-discr img {
        border: 3px solid var(--fst-gradient-color);
        border-radius: 10px;
        width: 110px;
        order: 1;
        height: 140px;
    }

    .sci {
        right: 5%;
    }

    .wrapper.active {
        transform: translateX(-250px);
    }

    .nav-header.active {
        transform: translateX(-250px);
    }

    .sci.active {
        transform: translateX(-250px);
    }

    #navigation {
        width: 250px;
    }

    #navigation ul li a {
        font-size: 1.3em;
        margin: 5px 0px;
    }

    .sci li a {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    header {
        padding: 30px 60px;
    }

    .banner {
        padding: 100px 80px 150px;
    }

    .banner h2 {
        font-size: 1.4em;
    }

    .banner .content {
        width: 95%;
    }

    .banner .content p,
    .banner .content a {
        font-size: 0.8em;
    }

    .content {
        width: 65%;
    }

    .content-box {
        width: 290px;
        min-height: 300px;
    }

    .content-discr {
        flex-direction: column;
    }



    .wrapper.active {
        transform: translateX(-200px);
    }

    .nav-header.active {
        transform: translateX(-200px);
    }

    .sci.active {
        transform: translateX(-200px);
    }

    #navigation {
        width: 200px;
    }

    #navigation ul li a {
        font-size: 1.0em;
        margin: 7px 0px;
    }

    .sci {
        right: 8%;
    }

    .sci li a {
        width: 36px;
        height: 36px;
    }
}